- meta title: t('d.settings')

%h1.sm= t('d.settings')

%h3= t('d.notifications')
%p= t('devise.registrations.edit.notifications')
.myg-button__container
  = link_to t('devise.registrations.edit.enable_notifications'), 'javascript:void(0)', class: 'myg-button--secondary', id: 'enableNotifications'

%h3= t('d.account')
= simple_form_for resource, as: resource_name, url: user_registration_url, authenticity_token: true, html: { method: :put } do
  = component 'myg/form-field', as: :input, attribute: :name, class_name: 'user', floating_label: t('d.name'), input_html: { required: true, value: resource.name }
  = component 'myg/form-field', as: :input, attribute: :email, class_name: 'user', floating_label: t('d.email'), input_html: { required: true, type: 'email', value: resource.email }
  = component 'myg/form-field', as: :input, attribute: :password, class_name: 'user', floating_label: t('devise.registrations.edit.new_password'), input_html: { minlength: 6, type: :password }
  = component 'myg/form-field', as: :input, attribute: :current_password, class_name: 'user', floating_label: t('devise.registrations.edit.current_password'), input_html: { required: true, minlength: 6, type: :password }

  .myg-button__container.myg-grid__flex.-reverse
    = component 'myg/button', value: t('devise.registrations.edit.submit')
