- meta title: 'Signup'

%h1 Signup
%p Tip the 2018 World Cup with friends & family.

= simple_form_for resource, as: resource_name, url: user_registration_url do |f|
    = f.input :token, as: :hidden, input_html: { value: params[:token] }
    = component 'myg/form-field', as: :input, attribute: :name, class_name: 'user', floating_label: 'Name', input_html: { required: true, autofocus: true }
    = component 'myg/form-field', as: :input, attribute: :email, class_name: 'user', floating_label: 'Email', input_html: { required: true, type: 'email', value: params[:email] }
    = component 'myg/form-field', as: :input, attribute: :password, class_name: 'user', floating_label: 'Password', input_html: { required: true, type: 'password', minlength: 6 }
    %p.sm= "By proceeding you agree to our #{link_to 'Privacy Policy', 'https://jonhue.me/tip-the-world-cup/privacy', target: '_blank'} and #{link_to 'Terms of Use', 'https://jonhue.me/tip-the-world-cup/terms', target: '_blank'}.".html_safe
    .myg-grid__flex.-space-between
        %p.sm
            = link_to 'Login instead?', new_user_session_url(app: params[:app]), class: 'myg-text__hyperlink -inherit'
        = component 'myg/button', value: 'Signup'
