- meta title: @participant.user.name
= replace :back_location, game_participants_url(game_id: @game.to_param)

.nation-wrapper
  %h1.sm= @participant.user.name
  .feature-wrapper
    = link_to game_nation_url(game_id: @game.to_param) do
      = component 'flag', nation: @participant.nation, size: 'sm'
    %p
      = @participant.nation.name
      will win the World Cup
  .feature-wrapper
    %h4= @participant.position.ordinalize
    %p place on the leaderboard
  .feature-wrapper
    %h4= @participant.earned_points
    %p earned points

.content-wrapper
  %h3 Tips
  - if @tips.any?
    .myg-card__container
      - @tips.each do |tip|
        = render tip
  - else
    %p This participant does not yet have any public tips.
