- meta title: t('invitations.show.title', name: @game.name)

%h1.sm= t('invitations.show.header', name: @game.user.name)

%p= @invitation.message
%p= t('invitations.show.bet', bet: @game.bet)

- if @game.participants.count > 1
  %p= t('invitations.show.participants', participants: @game.participants.map { |participant| participant.user.name }.join(', '))

.myg-button__container
  - if current_user
    = link_to t('invitations.show.submit'), new_game_participant_url(game_id: @game.to_param), class: 'myg-button'
  - else
    = link_to t('invitations.show.submit'), new_user_registration_url(email: @invitation.email || @invitation.user.email, token: @invitation.token), class: 'myg-button'
