= link_to game, class: 'game' do
  .myg-card
    %h4= game.name
    %p.sm
      - if game.participants.find_by(user_id: current_user.id).days_left_before_next_required_tip == Float::INFINITY
        You have tipped all available matches
      - else
        %span
          = game.participants.find_by(user_id: current_user.id).days_left_before_next_required_tip
          days
        until your next required tip
    %p.sm
      = game.participants.find_by(user_id: current_user.id).position.ordinalize
      place on the leaderboard
      = "(of #{game.participants.count})"
