- meta title: 'Overview'

%h1= "Hi, #{current_user.name}!"

.myg-card__container
  - @games&.each do |game|
    = render game
  = link_to new_game_url, class: 'card' do
    .myg-card
      %h4 New game
      %p.sm Start playing with friends & family.

%h3 Invitations
- if @invitations.any?
  .myg-card__container
    - @invitations&.each do |invitation|
      = render invitation
- else
  %p You don't have any pending invitations.

%h3 Account
.myg-button__container.myg-grid__flex
  = link_to 'Signout', destroy_user_session_url, method: :delete, class: 'myg-button--secondary -error'
