<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Bet</th>
      <th>Rule match</th>
      <th>Rule goal difference</th>
      <th>Rule tendency</th>
      <th>Rule miss</th>
      <th>Private</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.bet %></td>
        <td><%= game.rule_match %></td>
        <td><%= game.rule_goal_difference %></td>
        <td><%= game.rule_tendency %></td>
        <td><%= game.rule_miss %></td>
        <td><%= game.private %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
