<p id="notice"><%= notice %></p>

<p>
  <strong>Bet:</strong>
  <%= @game.bet %>
</p>

<p>
  <strong>Rule match:</strong>
  <%= @game.rule_match %>
</p>

<p>
  <strong>Rule goal difference:</strong>
  <%= @game.rule_goal_difference %>
</p>

<p>
  <strong>Rule tendency:</strong>
  <%= @game.rule_tendency %>
</p>

<p>
  <strong>Rule miss:</strong>
  <%= @game.rule_miss %>
</p>

<p>
  <strong>Private:</strong>
  <%= @game.private %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
