- meta title: t('games.show.title', name: @game.name)

= link_to t('games.show.all_games'), games_url, class: 'myg-text__hyperlink -inherit'
%h1.sm= @game.name

%h3= t('d.leaderboard')
.myg-card__container
  - @participants.each do |participant|
    = render participant
  = link_to t('games.show.full_leaderboard'), game_participants_url(game_id: @game.to_param), class: 'myg-text__hyperlink -inherit', data: { turbolinks_animate_type: 'nav' }

%h3= t('games.show.next_matches')
.myg-card__container
  - @matches.each do |match|
    = render match, game: @game
  = link_to t('games.show.browse_matches'), game_matches_url(game_id: @game.to_param), class: 'myg-text__hyperlink -inherit', data: { turbolinks_animate_type: 'nav' }

%h3= t('d.rules')
.myg-list--contained
  .myg-list__item= t('games.show.rules.bet', bet: @game.bet || t('d.none'))
  .myg-list__item= t('games.show.rules.match', rule_match: @game.rule_match)
  .myg-list__item= t('games.show.rules.goal_difference', rule_goal_difference: @game.rule_goal_difference)
  .myg-list__item= t('games.show.rules.tendency', rule_tendency: @game.rule_tendency)
  .myg-list__item= t('games.show.rules.miss', rule_miss: @game.rule_miss)
%p.sm= t('games.show.rules.penalties')

- if can? :update, @game
  %h3= t('d.manage')
  .myg-button__container.myg-grid__flex
    = link_to t('games.show.invite'), new_game_invitation_url(game_id: @game.to_param), class: 'myg-button'
    = link_to t('d.delete'), game_url(id: @game.to_param), method: :delete, class: 'myg-button--secondary -error', data: { confirm: 'Are you sure?' }

- if current_user.participants.find_by(game: @game).nil?
  = link_to t('games.show.join'), new_game_participant_url(game_id: @game.to_param), class: 'myg-button'
  %p.sm= t('games.show.rules.bet', bet: @game.bet || t('d.none'))
