- meta title: "#{@game.name} dashboard"

= link_to 'All games', games_url, class: 'myg-text__hyperlink -inherit'
%h1.sm= @game.name

%h3 Leaderboard
.myg-card__container
  - @participants.each do |participant|
    = render participant
  = link_to 'Full leaderboard', game_participants_url(game_id: @game.to_param), class: 'myg-text__hyperlink -inherit', data: { turbolinks_animate_type: 'nav' }

%h3 Next matches
.myg-card__container
  - @matches.each do |match|
    = render match, game: @game
  = link_to 'Browse matches', game_matches_url(game_id: @game.to_param), class: 'myg-text__hyperlink -inherit', data: { turbolinks_animate_type: 'nav' }

- if can? :update, @game
  %h3 Manage
  .myg-button__container.myg-grid__flex
    = link_to 'Invite fellow tippers', new_game_invitation_url(game_id: @game.to_param), class: 'myg-button'
    = link_to 'Delete', game_url(id: @game.to_param), method: :delete, class: 'myg-button--secondary -error'
