<%= form_with(model: nation, local: true) do |form| %>
  <% if nation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nation.errors.count, "error") %> prohibited this nation from being saved:</h2>

      <ul>
      <% nation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
