- meta title: @nation.name

.nation-wrapper
  .name-wrapper
    = component 'flag', nation: @nation
    %h2= @nation.name
  .feature-wrapper
    %h4= @nation.participants.where(game_id: @game.id).count
    %p= t('nations.show.fans', name: @nation.name)

.content-wrapper
  %h3= t('matches')
  .myg-card__container
    - @matches.each do |match|
      = render match, game: @game
