- meta title: 'Login'

%h1 Login
%p Welcome back! Login to proceed.

= simple_form_for resource, as: resource_name, url: user_session_url do |f|
    = component 'myg/form-field', as: :input, attribute: :email, class_name: 'user', floating_label: 'Email', input_html: { required: true, type: 'email', autofocus: true }
    = component 'myg/form-field', as: :input, attribute: :password, class_name: 'user', floating_label: 'Password', input_html: { required: true, type: 'password', minlength: 6 }
    = component 'myg/form-field', as: :checkbox, attribute: :remember_me, class_name: 'user', inline_label: 'Remember me', input_html: { input_html: { checked: true } } if devise_mapping.rememberable?
    .myg-grid__flex.-space-between
        %p.sm
            = link_to 'Signup', new_user_registration_url(app: params[:app]), class: 'myg-text__hyperlink -inherit'
            -# = link_to 'Forgot password?', new_user_password_url, class: 'myg-text__hyperlink -inherit'
        = component 'myg/button', value: 'Login'
