= link_to game_match_url(game_id: game.to_param, id: match.to_param), class: 'match' do
  .myg-card
    .match-wrapper
      %p.sm= match.home.name
      %h4
        = match.home_goals || '-'
        = ':'
        = match.away_goals || '-'
      %p.sm= match.away.name
    .tip-wrapper
      %p.sm
        = Tip.includes(:participant).find_by(match_id: match.id, participants: { game: game, user: current_user })&.home_goals || '-'
        = ':'
        = Tip.includes(:participant).find_by(match_id: match.id, participants: { game: game, user: current_user })&.away_goals || '-'
    %p.sm
      = match.count_tips_by_others(current_user)
      others tipped the match
      ·
      = match.begins_at.strftime('%-d %b, %I:%M %P')
