<p id="notice"><%= notice %></p>

<p>
  <strong>Begins at:</strong>
  <%= @match.begins_at %>
</p>

<p>
  <strong>Away goals:</strong>
  <%= @match.away_goals %>
</p>

<p>
  <strong>Home goals:</strong>
  <%= @match.home_goals %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
