= simple_form_for tip, url: (tip.id ? game_participant_tip_url(game_id: game.to_param, participant_id: participant.to_param, id: tip.to_param) : game_participant_tips_url(game_id: game.to_param, participant_id: participant.to_param)) do |f|
  = f.input :match_id, as: :hidden, input_html: { value: tip.match_id }

  .match-wrapper
    = component 'flag', nation: tip.match.home
    .tip-wrapper
      = component 'myg/form-field', as: :input, attribute: :home_goals, class_name: 'tip', input_html: { required: true, type: :number, minlength: 1, maxlength: 1, placeholder: '-', size: 1, value: tip.home_goals, autofocus: true }
      %h1= ':'
      = component 'myg/form-field', as: :input, attribute: :away_goals, class_name: 'tip', input_html: { required: true, type: :number, minlength: 1, maxlength: 1, placeholder: '-', size: 1, value: tip.away_goals }
    = component 'flag', nation: tip.match.away

  .myg-button__container.myg-grid__flex.-reverse
    = component 'myg/button', value: t('continue'), class: 'myg-button--secondary'
