- if tip.nil? && match.present? && game.present?
  = link_to new_game_participant_tip_url(game_id: game.to_param, participant_id: game.participants.find_by(user: current_user).to_param), class: 'tip modalist--trigger' do
    .myg-card
      .match-wrapper
        %p.sm= match.home.name
        %h4= '? : ?'
        %p.sm= match.away.name
      .tip-wrapper
        = component 'flag', nation: match.home, size: 'tn'
        %p.sm
          = match.home_goals || '-'
          = ':'
          = match.away_goals || '-'
        = component 'flag', nation: match.away, size: 'tn'
      %p.sm= match.begins_at.strftime('%-d %b, %I:%M %P')
- elsif tip.present?
  = link_to edit_game_participant_tip_url(game_id: tip.participant.game.to_param, participant_id: tip.participant.to_param, id: tip.to_param), class: 'tip modalist--trigger' do
    .myg-card
      .match-wrapper
        %p.sm= match.home.name
        %h4= "#{tip.home_goals} : #{tip.away_goals}"
        %p.sm= match.away.name
      .tip-wrapper
        = component 'flag', nation: match.home, size: 'tn'
        %p.sm
          = match.home_goals || '-'
          = ':'
          = match.away_goals || '-'
        = component 'flag', nation: match.away, size: 'tn'
      %p.sm= match.begins_at.strftime('%-d %b, %I:%M %P')
