<p id="notice"><%= notice %></p>

<p>
  <strong>Home goals:</strong>
  <%= @tip.home_goals %>
</p>

<p>
  <strong>Away goals:</strong>
  <%= @tip.away_goals %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
